.comics_vue{
    width: 1440px;
    margin: auto;
    h1{
        text-align: center;
        color: white;
        background-color: rgb(236, 25, 35);
        width: max-content;
        padding: 5px 20px;
    }

    .lista_uscite{
        background-color: black;
        ul{
            position: relative;
            margin-block: auto;
            display: flex;
            justify-content:flex-end;
            margin-right: 15%;
            li{
                font-size: 12px;
                font-weight: bold;
                list-style: none;
                color: lightgrey;
                &:first-child{
                    color: rgb(236, 25, 35);
                }
                a{
                    text-decoration: none;
                    margin: 0 5px;
                }
            }
        }
    }
    #app{
        .container_card{
            background-color: black;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            .card_comics{
                background-color: black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80%;
                width: 260px;
                margin: 0 10px;
                position: relative;
                .card_image{
                    height: 90%;
                    width: 100%;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .card_title{
                    height: 5%;
                    color: white;
                    text-transform: uppercase;
                    text-align: start;
                }
                .available{
                    height: 5%;
                    color: rgb(236, 25, 35);
                    
                }
                h5{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgb(236, 25, 35);
                    color: white;
                    padding: 1px 5px;
                }
            }
        }
        .container_articles{
            width: 1200px;
            margin: auto;
            margin-top: 40px;
            h2{
                color: rgb(236, 25, 35);
                font-weight: bold;
                margin-left: 70px;
            }
            .container_cards_articles{
                margin-top: 40px;
                .card_articles{
                    width: 260px;
                    margin-right: 10px;

                    .card_article_image{
                        width: 100%;
                        img{
                            width: 100%; 
                        }
                    }
                    .card_article_message{
                        color: rgb(236, 25, 35);
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .card_article_title{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    
                }
            }
        }
    }

}