footer{
    .container_footer{
        background-color: black;
        height: 500px;
        width: 100%;
        .parte_superiore_footer{
            background-color: rgb(236, 25, 35);
            height: 200px;
            width: 100%;
            ul{
                height: 100%;
                justify-content: center;
                align-items: center;
                li{
                    list-style: none;
                    margin: 50px;
                    img{
                        width: 50px;
                    }
                    i{
                        font-size: 50px;
                        color: black;
                    }
                    &:last-child{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}