.home{
    .sfondo_title{
        height: 800px;
        width: auto;
        justify-content: center;
        align-items: center;
        background-image: url(../img/sfondo1.jpg);
        background-size: cover;
        background-position-y: center;
    }
}