.link_nav{
    width: 1440px;
    margin: auto;
    height: 100%;
    ul{
        margin-top: 10px;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        li{
            list-style: none;
            margin: 10px;
            a{
                color: black;
                font-weight: bold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}